@using Blog.Domain.DataTransferObjects
@model List<ReklamAlanlariDto>

<div class="aside-widget text-center">
    @foreach (var item in Model)
    {
        if (item.AlanAdi.Equals("IndexContent"))
        {
            <p>@Html.Raw(@item.Kodu)</p>
        }
    }
</div>