@using HrefTag.WebUI.ViewModels;
@model SidebarViewModel;
<!-- sidebar -->
<div class="sidebar">
    <div class="sidebar_header">
        <img src="~/uploads/@Model.genelAyarlarDto.LogoUrl" alt="@Model.seoAyarlariDto.Ad">
        <img src="~/uploads/@Model.genelAyarlarDto.LogoUrl" class="logo-icon" alt="@Model.seoAyarlariDto.Ad">

        <span class="btn-mobile" uk-toggle="target: #wrapper ; cls: is-collapse is-active"></span>

    </div>

    <div class="sidebar_inner" data-simplebar>

        <ul>
            <li>
                <a asp-controller="Home" asp-action="index">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-blue-600">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                    </svg>
                    <span> Ana Sayfa </span>
                </a>
            </li>
            <li>
                <a asp-controller="Blog" asp-action="index">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-yellow-500">
                        <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h10a1 1 0 01.8 1.6L14.25 8l2.55 3.4A1 1 0 0116 13H6a1 1 0 00-1 1v3a1 1 0 11-2 0V6z" clip-rule="evenodd"></path>
                    </svg>
                    <span> Blog </span>
                </a>
            </li>
            @if (Model.genelAyarlarDto.VideoIceriklerAktif == true)
            {
                <li>
                    <a href="videos.html">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-red-500">
                            <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm3 2h6v4H7V5zm8 8v2h1v-2h-1zm-2-2H7v4h6v-4zm2 0h1V9h-1v2zm1-4V5h-1v2h1zM5 5v2H4V5h1zm0 4H4v2h1V9zm-1 4h1v2H4v-2z" clip-rule="evenodd" />
                        </svg>
                        <span> Videolar</span>
                    </a>
                </li>
            }
            @if (Model.genelAyarlarDto.EditorunSectikleriAktif == true)
            {
                <li>
                    <a asp-controller="EditorunSectikleri" asp-action="index">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-blue-500">
                            <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
                        </svg><span> Editörün Seçtikleri </span>
                    </a>
                </li>
            }
            @if (Model.genelAyarlarDto.AraclarAktif == true)
            {
                <li>
                    <a asp-controller="Araclar" asp-action="index">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-blue-500">
                            <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
                        </svg><span> Araçlar </span>
                    </a>
                </li>
            }
            @foreach (var item in Model.sayfaDtos)
            {
                <li>
                    <a asp-controller="Sayfa" asp-action="Sayfa" asp-route-page="@item.UrlBaslik">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-green-500">
                            <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
                        </svg>
                        <span> @item.Baslik</span>
                    </a>
                </li>
            }

            <li>
                <a asp-controller="Sayfa" asp-action="iletisim">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-pink-500">
                        <path fill-rule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd" />
                        <path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z" />
                    </svg> <span> İletişim</span>
                </a>
            </li>

        </ul>

        <br/><br /><br />
        <div class="col-3 float-left">
            <a href="https://www.twitter.com/@Model.sosyalMedyaDto.Twitter" target="_blank" class="text-md font-semibold capitalize">
                <img alt="Twitter" src="~/StatikResimler/twitter.png" class="border-2 border-white">
            </a>
        </div>
        <div class="col-3 float-left">
            <a href="https://www.instagram.com/@Model.sosyalMedyaDto.Instagram" target="_blank" class="text-md font-semibold capitalize">
                <img alt="Instagram" src="~/StatikResimler/instagram.png" class="border-2 border-white">
            </a>
        </div>
        <div class="col-3 float-left">
            <a href="https://www.linkedin.com/in/@Model.sosyalMedyaDto.Linkedin" target="_blank" class="text-md font-semibold capitalize">
                <img alt="Linkedin" src="~/StatikResimler/linkedin.png" class="border-2 border-white">
            </a>
        </div>
        <div class="col-3 float-left">
            <a href="https://www.youtube.com/channel//@Model.sosyalMedyaDto.Youtube" target="_blank" class="text-md font-semibold capitalize">
                <img alt="Youtube" src="~/StatikResimler/youtube.png" class="border-2 border-white">
            </a>
        </div>
    </div>
</div>