@using HrefTag.WebUI.ViewModels
@model AdminKullaniciEkleViewModel

@{
    ViewData["Title"] = "Kullanıcı Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row p-3">

    <div class="col-4">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Kullanıcı Ekleme Formu</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-area="Admin" asp-controller="Account" asp-action="KullaniciEkle" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label name="KullaniciAdi">Kullanıcı Adı</label>
                        <input asp-for="registerDto.UserName" type="text" class="form-control" placeholder="Kullanıcı Adı">
                    </div>
                    <div class="form-group">
                        <label name="Email">Email</label>
                        <input asp-for="registerDto.Email" type="text" class="form-control" placeholder="Email Adresi">
                    </div>
                    <div class="form-group">
                        <label name="Sifre">Şifre</label>
                        <input asp-for="registerDto.Password" type="password" class="form-control" placeholder="Şifre">
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>