@using HrefTag.WebUI.ViewModels;
@model HeaderViewModel;
<header>
    <div class="header_wrap">
        <div class="header_inner mcontainer">
            <div class="left_side">

                <span class="slide_menu" uk-toggle="target: #wrapper ; cls: is-collapse is-active">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M3 4h18v2H3V4zm0 7h12v2H3v-2zm0 7h18v2H3v-2z" fill="currentColor"></path></svg>
                </span>

                <div id="logo">
                    <a asp-controller="Home" asp-action="index">
                        <img src="~/uploads/@Model.genelAyarlarDto.LogoUrl" alt="@Model.seoAyarlariDto.Ad">
                        <img src="~/uploads/@Model.genelAyarlarDto.LogoUrl" alt="@Model.seoAyarlariDto.Ad" class="logo_mobile">
                    </a>
                </div>
            </div>

            <!-- search icon for mobile -->
            <div class="header-search-icon" uk-toggle="target: #wrapper ; cls: show-searchbox"> </div>
            <div class="header_search">
                <i class="uil-search-alt"></i>
                <form asp-controller="Arama" asp-action="AramaSonuclari" method="post">
                    <input type="text" class="form-control"  asp-for="@Model.keyword" placeholder="Arama Yap" autocomplete="off">
                </form>
            </div>

            <div class="right_side">

                <div class="header_widgets">
                    <a href="#" class="is_link">Profilim</a>

                    <a href="#">
                        <img src="assets/images/avatars/avatar-2.jpg" class="is_avatar" alt="">
                    </a>
                    <div uk-drop="mode: click;offset:5" class="header_dropdown profile_dropdown">

                        <a href="timeline.html" class="user">
                            <div class="user_avatar">
                                <img src="assets/images/avatars/avatar-2.jpg" alt="">
                            </div>
                            <div class="user_name">
                                <div> Stella Johnson </div>
                                <span> stella </span>
                            </div>
                        </a>
                        <hr class="border-gray-100">
                        <a href="page-setting.html">
                            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                            My Account
                        </a>
                        <a href="group-feed.html">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                            </svg>
                            Log Out
                        </a>
                    </div>
                    <a class="is_link" asp-area="Admin" asp-controller="Account" asp-action="login">Giriş Yap</a>

                </div>

            </div>
        </div>
    </div>
</header>