<!DOCTYPE html>
<html lang=”tr”>
<head>
    <meta http-equiv="content-language" content="tr" />
    <meta name="publisher" content="VS 2019" />
    <meta name="revisit-after" content="1" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Basic Page Needs
    ================================================== -->
    @await Component.InvokeAsync("Head")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="~/assets/scss/icons.css">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/assets/css/uikit.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/icons.css">
    <link rel="stylesheet" href="~/assets/css/tailwind.css">

    <!--Share This-->
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=61629e5e6c54f40014a7f901&product=inline-share-buttons"
            async="async"></script>
</head>
<body>

    <div id="wrapper">

        <!-- Header -->
        @await Component.InvokeAsync("Header")
        @await Component.InvokeAsync("LeftSidebar")
        <div class="main_content">
            <div class="mcontainer">
                <div class="lg:flex lg:space-x-12">
                    <div class="lg:w-3/4">
                        @RenderBody()
                    </div>
                    @await Component.InvokeAsync("RightSidebar")
                </div>
            </div>
        </div>
        <!-- Javascript
        ================================================== -->
        <script src="~/assets/js/jquery-3.3.1.min.js"></script>
        <script src="~/assets/js/uikit.js"></script>
        <script src="~/assets/js/simplebar.js"></script>
        <script src="~/assets/js/custom.js"></script>
        <script src="~/assets/js/bootstrap-select.min.js"></script>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <script src="~/dist/btnloadmore.js"></script>
    </div>
</body>
</html>
