@using HrefTag.WebUI.ViewModels;
@model AdminHeaderVievModel
<!-- Brand Logo -->
<a asp-area="Admin" asp-controller="Home" asp-action="Dashboard" class="brand-link">
    <img src="~/uploads/@foreach (var subitem in Model.genelAyarlarDtos){@subitem.LogoUrl}" 
         alt="@foreach (var subitem in Model.seoAyarlariDtos){@subitem.Title}" 
         class="brand-image img-circle elevation-3"
         style="opacity: .8"/>
    <span class="brand-text font-weight-light">
        @foreach (var subitem in Model.seoAyarlariDtos)
        {@subitem.Ad}
    </span>
</a>
