@using Blog.Domain.DataTransferObjects
@model CekilisSonuclariDto
@{
    ViewData["Title"] = "Çekiliş Aracı";
}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- post -->
                <form asp-controller="Araclar" asp-action="KazananlariBelirle" method="post">
                    <div class="col-md-4 float-left">
                        <div>
                            <label>Çekiliş Adı</label>
                            <input type="text" asp-for="@Model.CekilisAdi" class="form-control" required>
                        </div>
                        <div>
                            <label>Çekilişi Yapan</label>
                            <input type="text" asp-for="CekilisiYapan" class="form-control" required>
                        </div>
                        <div>
                            <label>Asıl Kazanan Sayısı</label>
                            <input type="text" asp-for="AsilSayisi" class="form-control" required>
                        </div>
                        <div>
                            <label>Yedek Kazanan Sayısı</label>
                            <input type="text" asp-for="YedekSayisi" class="form-control" required>
                        </div>
                        <div class="card card-primary">
                            <label>Çekiliş Sitede Yayınlansın mı?</label>
                            <select class="form-control custom-select" asp-for="YayinlansinMi" required>
                                <option value="0">Hayır</option>
                                <option value="1">Evet</option>
                            </select>
                        </div>
                        <div>
                            <label> </label>
                            <input type="submit" value="Kazananları Belirle" class="form-control btn btn-success m-2">
                        </div>
                    </div>
                    <div class="col-md-8 float-left">
                        <div class="row mb-2 mt-2">
                            Lütfen listeye ekleyeceğiniz isimleri arasına virgül (,) koyarak ayırınız.
                        </div>
                        <div>
                            <textarea asp-for="CekilisListesi" required class="textarea" placeholder="Çekiliş listesini aralarına virgül koyarak giriniz."
                                      style="width: 100%; height: 300px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                    </div>

                </form>
                <!-- /post -->
            </div>
            <div class="col-md-4">

                @*<partial name="Reklamlar/AllPageSidebar" for="@Model.GetTblReklamAlanlari" />*@

                @await Component.InvokeAsync("SidebarTop")

                @await Component.InvokeAsync("FeaturePostWidget")

                @*<partial name="Reklamlar/SidebarCategorysTop" for="@Model.GetTblReklamAlanlari" />*@

                @await Component.InvokeAsync("SidebarBottom")

            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->