@using HrefTag.WebUI.ViewModels
@model AraclarViewModel
@{
    ViewData["Title"] = "Araçlar";
}



<div class="col-md-6 float-left" style="height:100px; border:solid 1px #808080; box-shadow:3px 3px 3px #808080">
    <div class="post-body">
        <h3 class="post-title"><a asp-controller="Araclar" asp-action="CekilisAraci">Çekiliş Aracı</a></h3>
    </div>
</div>
