@using HrefTag.WebUI.ViewModels
@model AraclarViewModel
@{
    ViewData["Title"] = Html.Raw("Site Araçları");
}

<div id="wrapper">
    <div class="main_content">
        <div class="mcontainer">
            <div class="row">
                <div class="col-4 flex items-center card hover:shadow-lg p-4 rounded-md w-full border-solid border-gray-100 float-left" style="min-width:300px">

                    <div class="w-14 h-14 flex-shrink-0 rounded-md relative">
                        <img src="/StatikResimler/statik.png" class="absolute w-full h-full inset-0 rounded-md object-cover" alt="Çekiliş Aracı">
                    </div>
                    <div class="flex-1 ml-2">
                        <a asp-controller="Araclar" asp-action="CekilisAraci" class="text-sm font-semibold capitalize" title="Ücretsiz Çekiliş Aracı">
                            Çekiliş Aracı
                        </a>
                    </div>
                </div>

                <div class="col-4 flex items-center card hover:shadow-lg p-4 rounded-md w-full border-solid border-gray-100 float-left" style="min-width:300px">

                    <div class="w-14 h-14 flex-shrink-0 rounded-md relative">
                        <img src="/StatikResimler/statik.png" class="absolute w-full h-full inset-0 rounded-md object-cover" alt="Çekiliş Aracı">
                    </div>
                    <div class="flex-1 ml-2">
                        <a asp-controller="Araclar" asp-action="HarfKelimeSayaci" class="text-sm font-semibold capitalize" title="Harf ve Kelime Sayacı">
                            Harf ve Kelime Sayacı
                        </a>
                    </div>
                </div>
            </div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8594746141557193"
                    crossorigin="anonymous"></script>
            <!-- Araçlar Sayfası Yatay Esnek -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8594746141557193"
                 data-ad-slot="2030511062"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>