@using HrefTag.WebUI.ViewModels
@model AraclarViewModel
@{
    ViewData["Title"] = Html.Raw("Site Araçları");
}

<div id="wrapper">
    <div class="main_content">
        <div class="mcontainer">
            <div class="col-4 flex items-center card hover:shadow-lg p-4 rounded-md w-full border-solid border-gray-100 float-left" style="min-width:300px">

                <div class="w-14 h-14 flex-shrink-0 rounded-md relative">
                    <img src="/StatikResimler/statik.png" class="absolute w-full h-full inset-0 rounded-md object-cover" alt="Çekiliş Aracı">
                </div>
                <div class="flex-1 ml-2">
                    <a asp-controller="Araclar" asp-action="CekilisAraci" class="text-sm font-semibold capitalize">
                        Çekiliş Aracı
                    </a>
                </div>
            </div>

            <div class="col-4 flex items-center card hover:shadow-lg p-4 rounded-md w-full border-solid border-gray-100 float-left" style="min-width:300px">

                <div class="w-14 h-14 flex-shrink-0 rounded-md relative">
                    <img src="/StatikResimler/statik.png" class="absolute w-full h-full inset-0 rounded-md object-cover" alt="Çekiliş Aracı">
                </div>
                <div class="flex-1 ml-2">
                    <a asp-controller="Araclar" asp-action="HarfKelimeSayaci" class="text-sm font-semibold capitalize">
                        Harf ve Kelime Sayacı
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>