@using HrefTag.WebUI.ViewModels
@model AraclarViewModel
@{
    ViewData["Title"] = "Araçlar";
}

<div id="wrapper">
    <div class="main_content">
        <div class="mcontainer">
            <a asp-controller="Araclar" asp-action="CekilisAraci" class="text-sm font-semibold capitalize">
                <div class="col-4 flex items-center card hover:shadow-lg px-4 py-3 rounded-md w-full border-solid border-gray-100" style="min-width:300px">
                    <div class="w-14 h-14 flex-shrink-0 rounded-md relative">
                        <img src="/StatikResimler/statik.png" class="absolute w-full h-full inset-0 rounded-md object-cover" alt="Çekiliş Aracı">
                    </div>
                    <div class="flex-1 ml-2">
                        Çekiliş Aracı
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>